.product-form {
  width: 20rem;
  max-width: 90%;
  margin: auto;
  display: block;
}

.product-item {
  width: 20rem;
  max-width: 95%;
  margin: 1rem;
}

.product__title {
  font-size: 1.2rem;
  text-align: center;
}

.product__price {
  text-align: center;
  color: #4d4d4d;
  margin-bottom: 0.5rem;
}

.product__description {
  text-align: center;
}
.carousel-item {
  height: 30vw;
  width: 100%;
  object-fit: cover;
  display: flex;
  justify-content: center;
}
.carousel-item img {
  width: 100%;
  height: auto;
}

.slick-prev {
  left: 25px;
  z-index: 50;
}
.slick-next {
  right: 25px;
  z-index: 50;
}
.slick-prev:before,
.slick-next:before {
  color: #00695c;
  font-size: 40px;
}
.slick-dots li button:before {
  font-size: 16px;
  color: #00695c;
}
.slick-dots li.slick-active button:before {
  color: #00695c;
}
